header{
    background-color: #9690E5;
    font-size: 40px;
    color: #232B4B;
}
body{
    background-color: #9690E5;
}
h1{
    text-align: center;
    font-size: 100px;
    color: #232B4B;
}
div.profile-button{
    background-color: white;
    text-align: right;
    display: flex;
    flex-direction: row;
}
h2{
    font-size: 40px;
    text-align: center;
    color: #232B4B;
}
/* #pbutton{
    font-size: 40px;
    color: red;
    text-align: right;
    background-color:black;
} */
#vitaID{
    font-size: 40px;
    text-align: left;
}
.nav{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.nav li{
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #E6CBFF;
    list-style-type: none;
    box-sizing: border-box;
    border: 2px solid black;
}
a{
    text-decoration: none;
    font-size: 30px;
}
.nav button{
    border: none;
    background-color: #E6CBFF;
    font-size: 30px;
}
.chart-container{
    background-color: #E6CBFF;
    border: 5px solid #E6CBFF;
    border-radius: 20px;
    height: 60px;
    margin: 20px auto;
    max-width: 400px;

}
.calorie-slider{
    width: 100%;
}
.calorie-count{
    font-size: 18px;
    display: block;
    text-align: right;
    margin-top: 5px;
}

#calorie-chart {
    height: 100%;
    background-color: #112945;
    width: 0px;
    border-radius: 14px;
}